body {
    padding: 20px 0;
    margin: 0 auto;
}
table {
    max-width: 600px;
    min-width: 300px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}
td {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.wrap-table-email,
.table-content,
.table-footer {
    background-color: #eeeeee;
}
img {
    outline: none;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.table-header {
    background-color: #ffff00;
}
.td-header {
    font-family: arial, sans-serif;
    color: #333333;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    text-align: center;
    padding: 15px 5px;
}
.content-img {
    width: 100%;
}
.td-content-text {
    color: #333333;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    text-align: left;
    padding: 5px 5px;
}
.td-content-button {
    text-align: center;
    padding: 20px 0;
}
.content-button {
    background-color: #ff0000;
    font-family: arial, sans-serif;
    color: #333333;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    text-align: center;
    padding: 5px 15px;
    border-radius: 5px;
}
.table-social-title {
    font-family: arial, sans-serif;
    color: #333333;
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    text-align: center;
    padding: 10px 0;
}
.table-social-buttons {
    width: 240px;
}
.td-social-buttons {
    width: 50px;
    padding: 0 0 20px 0;
}
.social-img {
    width: 50px;
    height: 50px;
}